*{
  box-sizing: border-box;
}
.container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 100px auto;
}
@media only screen and (max-width: 480px){
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

.logo{
  margin-bottom: 50px;
}

.app__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50vw;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 20px rgba(94, 122, 125, .4);
  border-radius: 20px;
  padding: 30px;
}
@media only screen and (max-width: 480px){
  .app__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    flex-direction: column;
    padding: 50px;
  }
}

.ui__container{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  width: 100%;

}

.bill__container{
  display: flex;
  flex-direction: column;
}


.input__bill{
  text-align: right;
  font-weight: 700;
  border: 2px solid transparent;
  background-color: #f4fafa;
  height: 50px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  font-family: inherit;
  color: hsl(183, 100%, 15%);
  margin: 5px 0;
  width: 100%;
}

.bill__amount{
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px){
  .bill__amount{
    margin-bottom: 0;
  }
}


.input__bill:focus{
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.tip__Container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tip__btn-upper{
  display: flex;
  width: 100%;
}

.tip__btn-lower{
  display: flex;
}
@media only screen and (max-width: 480px){
  .tip__btn-lower{
    width: 100%;
  }
}

.btn{
  color: hsl(189, 41%, 97%);
  font-size: 25px;
  font-family: inherit;
  font-weight: 700;
  width: 120px;
  height: 50px;
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 480px){
  .btn{
    /* width: 108.66px; */
    width: 33.33333%;
  }
}

.btn:hover{
  background-color: hsl(172, 67%, 45%);
  color: #00494d;
}

.tip__manual{
  margin: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  font-weight: 700;
  border: 2px solid transparent;
  background-color: #f4fafa;
  height: 50px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  font-family: inherit;
  color: hsl(183, 100%, 15%);
  width: 120px;
}
@media only screen and (max-width: 480px){
  .tip__manual{
    width: 33.33333%;
    font-size: 12px;
  }
}

.tip__manual:focus{
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.people__container{
  margin-top: 15px;
}
@media only screen and (max-width: 480px){
  .people__container{
    margin-top: 0;
  }
}

.people-heading__container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 35px;
}

p, label {
  font-weight: 700;
  color: hsl(186, 14%, 43%);
  font-size: 14px;
}
.warning{
  color: rgb(211, 104, 78);
}

.total__container{
  background-color: #00494d;
  min-width:45%;
  border-radius: 15px;
  padding: 30px;
}
@media only screen and (max-width: 480px){
  .total__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }
}

.fixer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 10px;
}

.total-tip__container{
  display: flex;
  flex-direction: column;
}

.tip__amount{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tip{
  color: hsl(189, 41%, 97%);
  margin: 0px;

}

.tip__person{
  color: hsl(184, 14%, 56%);
  margin: 0px;
}

.tip-amount__total{
  font-size: 40px;
  color: hsl(172, 67%, 45%);
  margin: 0;
}
@media only screen and (max-width: 480px){
  .tip-amount__total{
    font-size: 25px;
  }
}

.btn__reset{
  width: 100%;
  height: 50px;
  margin-top: 150px;
  background-color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 16px;
  color: hsl(183, 100%, 15%);
}

.btn__reset:hover{
  background-color: hsl(172, 38%, 68%);
  color: #00494d;
}

@media only screen and (max-width: 480px){
  .btn__reset{
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: hsl(172, 67%, 45%);
    font-weight: 700;
    font-size: 16px;
    color: hsl(183, 100%, 15%);
    
  }
  .btn__reset:hover{
    background-color: hsl(172, 38%, 68%);
    color: #00494d;
  }

}
